@page "/gear"

<PageTitle>Gear</PageTitle>

@if (GearPage is null)
{
    <div class="d-flex justify-center py-8">
        <MudProgressCircular Size="Size.Medium" Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <StandardBanner Headline="@GearPage.Heading" SubHeadline="@GearPage.SubHeading" BannerImage="@GearPage.Banner" />
    <GearShowcase SectionTitle="@GearPage.AvailableGearTitle" Items="@GearPage.AvailableGear" />
}