@page "/workshops"

<PageTitle>Workshops</PageTitle>

@if (WorkshopsPage is null)
{
    <div class="d-flex justify-center py-8">
        <MudProgressCircular Size="Size.Medium" Color="Color.Primary" Indeterminate="true" />
    </div>
}
else
{
    <StandardBanner Headline="@WorkshopsPage.Heading" SubHeadline="@WorkshopsPage.SubHeading" BannerImage="@WorkshopsPage.Banner" />
    <WorkshopShowcase SectionTitle="@WorkshopsPage.AvailableWorkshopsTitle" Workshops="@WorkshopsPage.AvailableWorkshops" />
}